button {
  padding: 7px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ffffff2e;
  background-color: #ffffff1b;
  color: #fff;
  backdrop-filter: blur(5px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}