input {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  padding: 7px;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  border: 1px solid #ffffff2e;
  background-color: #ffffff1b;
  color: #fff;
  backdrop-filter: blur(5px);
  font-family: monospace;
  font-size: 18px;
}