textarea {
  background-color: transparent;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  border: 1px solid #ffffff2e;
  background-color: #ffffff1b;
  color: #fff;
  backdrop-filter: blur(5px);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  &::placeholder {color: #ffffff99;}
}