body {
  background-color: #202020;
  margin: 0;
  padding: 0;
}

.con {
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}