body {
  background-color: #202020;
  margin: 0;
  padding: 0;
}
.con {
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}
.con .editor {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.con .editor .options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.con .editor .options input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
.con .editor .options .input-con input {text-align: center; height: 100%;}
.con .editor .options .input-con {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.con .editor .options .input-con .default-text-sizes {
  position: absolute;
  top: 43px;
  z-index: 10;
}
.con .editor .options .input-con .default-text-sizes ul {
  display: none; 
  flex-direction: column;
  gap: 4px;
  margin: 0; 
  padding: 0;
}
.con .editor .options .input-con .default-text-sizes ul li {
  list-style-type: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 4px 13px;
  box-sizing: border-box;
  color: #dddddd;
  outline: none;
  border: 1px solid #ffffff2e;
  background-color: #ffffff1b;
  backdrop-filter: blur(5px);
  font-family: monospace;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
.con .editor .options hr {height: 90%; border: 1px solid #ffffff60;}
.con .editor .options .font-select {
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  width: 130px;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  background-color: #ffffff1b;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}
.con .editor .options .font-select .current-font {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: 1px solid #ffffff2e;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 5px;
}
.con .editor .options .font-select .fonts {
  position: absolute;
  top: 43px;
  left: 0;
}
.con .editor .options .font-select .fonts ul {
  display: none; 
  flex-direction: column;
  gap: 5px;
  margin: 0; 
  padding: 0;
}
.con .editor .options .font-select .fonts ul li {
  list-style-type: none;
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  width: 130px;
  padding: 7px;
  box-sizing: border-box;
  color: #dddddd;
  outline: none;
  border: 1px solid #ffffff2e;
  background-color: #ffffff1b;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.wallpapers-con {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.wallpapers-con .wallpapers {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ffffff00;
  background-color: #ffffff1b;
  color: #fff;
  backdrop-filter: blur(5px);
  height: 0px;
  overflow: hidden;
  transition: 200ms all;
  opacity: 0%;
  img {
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    transition: 100ms all;
    margin: 5px 10px;
    &:hover {scale: 1.03;}
  }
}
.wallpapers-con .wallpapers-active {
  height: 335px;
  opacity: 100%;
  border-color: #ffffff2e;
}