body {
  background-color: #202020;
  margin: 0;
  padding: 0;
}
.con {
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.wallpapers-con {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.wallpapers-con .wallpapers {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  outline: 1px solid #ffffff2e;
  background-color: #ffffff1b;
  color: #fff;
  backdrop-filter: blur(5px);
  height: 0px;
  outline: none;
  overflow: hidden;
  transition: 200ms all;
  opacity: 50%;
  img {
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    transition: 100ms all;
    margin: 5px 10px;
    &:hover {scale: 1.03;}
  }
}
.wallpapers-con .wallpapers-active {
  height: 335px;
  opacity: 100%;
}